# ignoro los binarios compilados de python
*.pyc
PRSpng/*.txt
PRSpng/salida*
PRSpng/imagen
PRSpng/png
PRSpng/correrycopiar
#data
PRSpng/test.py
PRSpng/test
PRSpng/channel_info.txt
PRSsat/*.o
PRSpost/test
PRSpost/test.py
PRSpost/copy.sh
PRSpost/netcdf_goes16/*.png
PRSpost/netcdf_goes16/goes-r
